<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% if page.title %} {{ page.title }} | {% endif %} Cherokee Web Server</title>

	<meta name="description" content="Cherokee is a flexible, very fast, lightweight Web server. It is implemented entirely in C, and has no dependencies beyond a standard C library. It is embeddable and extensible with plug-ins. It supports on-the-fly configuration, TLS/SSL, virtual hosts, authentication, cache friendly features, PHP, custom error management, several load balancing policies, database balancing, and much more.">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{{site.baseurl}}/CTK/css/CTK.css">
	<link rel="stylesheet" href="{{site.baseurl}}/static/css/cherokee.css">

	<script src="{{site.baseurl}}/CTK/js/jquery-1.3.2.min.js"></script>

</head>
<body id="body-cherokee">

	<div id="bar">
		<div id="bar-inner">
			<div id="logo">
				<a href="{{site.baseurl}}/">
					<img src="{{site.baseurl}}/static/images/logo.png">
				</a>
			</div>

			<div id="nav">
				<ul>
					<li><a href="{{site.baseurl}}/downloads.html">Download</a></li>

					<li><a href="{{site.baseurl}}/doc">Documentation</a></li>

					<li><a href="{{site.baseurl}}/community.html">Community</a></li>

					<li><a href="{{site.baseurl}}/contribute.html">Contribute</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="banner">
		<div id="sprint">
			<div id="mainmsg">
				<h1>Evolved Web Infrastructure Software</h1>

				<p>Cherokee is an innovative, feature rich, and yet easy to configure	open source Web Server.</p><!-- <a id="overview" name="overview">Learn	More</a> -->
			</div>

		</div>
	</div>

	<div id="container">
		<div id="index-main">
			<h2>Features Highlights</h2>

			<div id="features">
				<ul class="list">
					<li><strong>User friendly</strong><br>
					<span>All the configuration is done through Cherokee-Admin, a
					beautiful and powerful Web interface.</span></li>

					<li><strong>Web Apps repository</strong><br>
					<span>Cherokee allows to deploy Web Apps optimally, in seconds, with
					just a few mouse clicks.</span></li>

					<li><strong>Modern Technologies</strong><br>
					<span>Cherokee supports the most widespread Web technologies:
					FastCGI, SCGI, PHP, uWSGI, SSI, CGI, LDAP, TLS/SSL, HTTP proxying,
					Video streaming, Content caching, Traffic Shaping, etc.</span></li>

					<li><strong>Cross Platform</strong><br>
					<span>Cherokee runs on Linux, MacOS X, Solaris, and BSD. A native
					Windows port is on the works.</span></li>
				</ul>
			</div>
		</div>

		<div id="index-sidebox">
			<div id="main-links">
				<ul>
					<li><img src="{{site.baseurl}}/static/images/download.png" title="Download Cherokee 1.2.101"><a href="{{site.baseurl}}/downloads.html">Download Cherokee 1.2.101</a><br>
					<span>Fetch the latest version of Cherokee</span></li>

					<li><img src="{{site.baseurl}}/static/images/documentation.png" title="Read the Documentation"><a href="{{site.baseurl}}/doc">Read the Documentation</a><br>
					<span>Tutorials, recipes, etc</span></li>

					<li><img src="{{site.baseurl}}/static/images/contribute.png" title="Contribute to the project"><a href="{{site.baseurl}}/contribute.html">Contribute to the project</a><br>
					<span>Help us to develop a better server!</span></li>
				</ul>
			</div>
		</div>

		<div class="clr"></div>

		<div class="bar3">
			<div id="latest-tweets">
				<div class="bar3-title">
					<a href="http://twitter.com/webserver" target="_blank">Recent Tweets</a>
				</div>

				<div class="bar3-bottom-link">
					<a href="http://twitter.com/webserver" target="_blank">Follow Us on Twitter »</a>
				</div>
			</div>
		</div>

		<div class="bar3">
			<div id="latest-commits">
				<div class="bar3-title">
					<a href="https://github.com/cherokee/webserver/commits/dev" target="_blank">Latest Commits</a>
				</div>

				<div class="commit">
					<div class="date">
						<a href="https://github.com/cherokee/webserver/commit/e43de1b004f4954380f4b4ea272ea26ef2e81468">4 weeks ago</a>
					</div>

					<div class="commit-txt">
						Stefan de Konink: Merge pull request #44 from	cherokee/fix-for-missing-libt...
					</div>
				</div>

				<div class="commit">
					<div class="date">
						<a href="https://github.com/cherokee/webserver/commit/7fa9e4457437a2affbcb3dfa8f5dc1084fecf924" target="_blank" title="7fa9e4457437a2affbcb3dfa8f5dc1084fecf924">4 weeks ago</a>
					</div>

					<div class="commit-txt">
						M. David Peterson: checks for the existence of glibtool using hash rather th...
					</div>
				</div>

				<div class="commit">
					<div class="date">
						<a href="https://github.com/cherokee/webserver/commit/97e24f061fc527f9aaf86aa5c97072b990d5912a" target="_blank" title="97e24f061fc527f9aaf86aa5c97072b990d5912a">4 weeks ago</a>
					</div>

					<div class="commit-txt">
						Stefan de Konink: Disabling SSL Compression might prevent an SSL CRIME attack.
					</div>
				</div>

				<div class="commit">
					<div class="date">
						<a href="https://github.com/cherokee/webserver/commit/2e4800587586e392f81c45893ec0e63cd303d748" target="_blank" title="2e4800587586e392f81c45893ec0e63cd303d748">4 weeks ago</a>
					</div>

					<div class="commit-txt">
						Stefan de Konink: Add support to explictly disable SSL compression.
					</div>
				</div>

				<div class="commit">
					<div class="date">
						<a href="https://github.com/cherokee/webserver/commit/19b8fe12874ae4791ae695e74257a990c9f21281"	target="_blank" title="19b8fe12874ae4791ae695e74257a990c9f21281">4 weeks ago</a>
					</div>

					<div class="commit-txt">
						Stefan de Konink: Implements the request for Cipher Server Preference
					</div>
				</div>

				<div class="commit">
					<div class="date">
						<a href="https://github.com/cherokee/webserver/commit/d363f35eaca3f87d9af0133f7630099f61890ef8" target="_blank" title="d363f35eaca3f87d9af0133f7630099f61890ef8">5 weeks ago</a>
					</div>

					<div class="commit-txt">
						Stefan de Konink: Merge pull request #40 from cherokee/mod-streaming_ffmpeg...
					</div>
				</div>

				<div class="commit">
					<div class="date">
						<a href="https://github.com/cherokee/webserver/commit/d6e24b9fc890876c832bc8c7bebdc58017bcba34" title="d6e24b9fc890876c832bc8c7bebdc58017bcba34">5 weeks ago</a>
					</div>

					<div class="commit-txt">
						M. David Peterson: fix for 'handler_streaming.c:383:23: error: 'AVFormatCont...
					</div>
				</div>

				<div class="bar3-bottom-link">
					<a href="https://github.com/cherokee/webserver/commits/dev" target="_blank">View Commits Log »</a>
				</div>
			</div>
		</div>

		<div class="bar3">
			<div id="mailing-list">
				<div class="bar3-title">
					<a href="http://lists.octality.com/listinfo/cherokee" target="_blank">Mailing List</a>
				</div>

				<div class="mail">
					<div class="date">
						Dec 27
					</div>

					<div class="mail-txt">
						<a href="http://lists.octality.com/pipermail/cherokee/2012-December/thread.html" target="_blank">Moving the Google tracker to Github</a><br>
						by (-, Stefan), 3 messages
					</div>
				</div>

				<div class="mail">
					<div class="date">
						Dec 17
					</div>

					<div class="mail-txt">
						<a href="http://lists.octality.com/pipermail/cherokee/2012-December/thread.html" target="_blank">Issue List</a><br>
						by (-, Stefan, Daniel), 4 messages
					</div>
				</div>

				<div class="mail">
					<div class="date">
						Dec 16
					</div>

					<div class="mail-txt">
						<a href="http://lists.octality.com/pipermail/cherokee/2012-December/thread.html" target="_blank">A joined community</a><br>
						by (Jędrzej, Stefan, -, Daniel, pig...@gmail.com), 10 messages
					</div>
				</div>

				<div class="mail">
					<div class="date">
						Dec 13
					</div>

					<div class="mail-txt">
						<a href="http://lists.octality.com/pipermail/cherokee/2012-December/thread.html" target="_blank">PHP:</a><br>
						by (Francesco), 1 messages
					</div>
				</div>

				<div class="mail">
					<div class="date">
						Dec 08
					</div>

					<div class="mail-txt">
						<a href="http://lists.octality.com/pipermail/cherokee/2012-December/thread.html" target="_blank">Cherokee equivalent for e-mail?</a><br>
						by (Hugo, -, Jeremy, Stefan), 5 messages
					</div>
				</div>

				<div class="mail">
					<div class="date">
						Dec 08
					</div>

					<div class="mail-txt">
						<a href="http://lists.octality.com/pipermail/cherokee/2012-December/thread.html" target="_blank">Google Plus!</a><br>
						by (Stefan, Daniel), 3 messages
					</div>
				</div>

				<div class="bar3-bottom-link">
					<a href="http://lists.octality.com/listinfo/cherokee" target="_blank">Subscribe to Cherokee Mailing List »</a>
				</div>
			</div>
		</div>

		<div class="clr"></div>

		{{content}}
	</div>

	<div class="clr"></div>

	<div id="footer">
		<div id="footer-inner">
			Obviously powered by Cherokee!<br>
			© 2001-2012 <a href="http://www.linkedin.com/profile/view?id=19919180" target="_blank">Alvaro Lopez Ortega</a>
		</div>
	</div>

	<div class="help"></div>
	<script src="/CTK/js/common.js"></script>
	<script src="/CTK/js/Help.js"></script>
	<script src="/CTK/js/jquery-ui-1.7.2.custom.min.js"></script>

</body>
</html>