<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Cherokee Web Server{% if page.title %} | {{ page.title }}{% endif %}</title>
	<meta name="description" content="Cherokee is a flexible, very fast, lightweight Web server. It is implemented entirely in C, and has no dependencies beyond a standard C library. It is embeddable and extensible with plug-ins. It supports on-the-fly configuration, TLS/SSL, virtual hosts, authentication, cache friendly features, PHP, custom error management, several load balancing policies, database balancing, and much more.">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{site.baseurl}}/CTK/css/CTK.css">
	<link rel="stylesheet" href="{{site.baseurl}}/static/css/cherokee.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
</head>
<body id="body-cherokee">

	<div id="bar">
		<div id="bar-inner">
			<div id="logo">
				<a href="{{site.baseurl}}/">
					<img src="{{site.baseurl}}/static/images/logo.png">
				</a>
			</div>

			<div id="nav">
				<ul>
					<li><a href="{{site.baseurl}}/downloads.html">Download</a></li>
					<li><a href="{{site.baseurl}}/doc/">Documentation</a></li>
					<li><a href="{{site.baseurl}}/contribute.html">Contribute</a></li>
				</ul>
			</div>
		</div>
	</div>
	
{{content}}

	<div class="clr"></div>

	<div id="footer">
		<div id="footer-inner">
			Obviously powered by Cherokee!<br>
			&copy; 2001-2013 <a href="http://www.linkedin.com/profile/view?id=19919180" target="_blank">Alvaro Lopez Ortega</a>
		</div>
	</div>

	<div class="help"></div>
	<script src="/CTK/js/common.js"></script>
	<script src="/CTK/js/Help.js"></script>
</body>
</html>
