---
layout: default
---

<div id="container">
	<div id="sidebar">
		<div class="section-title"><a href="basics.html">Cherokee Basics</a><br /><span>Getting started</span></div>
		<ul class="section-list">
			<li><a href="basics_why_cherokee.html">Why Cherokee?</a><span>Feature overview.</span></li>
			<li><a href="basics_requirements.html">Requirements</a><span>Hardware and software requirements.</span></li>
			<li><a href="basics_download.html">Download</a><span>Where and how to download Cherokee.</span></li>
			<li><a href="basics_install.html">Installation</a><span>Installation instructions.</span></li>
			<li><a href="basics_upgrade.html">Upgrading Cherokee</a><span>Upgrading from a previous release?</span></li>
			<li><a href="basics_run.html">Running Cherokee</a><span>Basic steps to run Cherokee.</span></li>
		</ul>
		<div class="section-title"><a href="config.html">Configuration</a><br /><span>Set up process explained</span></div>
		<ul class="section-list">
			<li><a href="config_walkthrough.html">Walkthrough</a><span>Overview and walkthrough.</span></li>
			<li><a href="config_index.html">Home</a><span>Main section.</span></li>
			<li><a href="config_status.html">Status</a><span>Server status information.</span></li>
			<li><a href="config_general.html">General</a><span>General settings.</span></li>
			<li><a href="config_virtual_servers.html">Virtual servers</a><span>Server definition.</span></li>
			<li><a href="config_info_sources.html">Information Sources</a><span>Defining information sources.</span></li>
			<li><a href="config_advanced.html">Advanced</a><span>Advanced tweaking. Not for the faint of heart.</span></li>
			<li><a href="config_wizards.html">Wizards</a><span>Configuration assistants for many known scenarios.</span></li>
		</ul>
		<div class="section-title"><a href="cookbook.html">Cookbook</a><br /><span>Recipes for specific tasks</span></div>
		<ul class="section-list">
			<li><a href="cookbook_authentication.html">Authentication</a><span>How to set up authenticated resources.</span></li>
			<li><a href="cookbook_cross_compilation.html">Cross compilation</a><span>How to cross compile Cherokee.</span></li>
			<li><a href="cookbook_dbslayer.html">DBSlayer</a><span>How to set up DBSlayer MySQL balancing.</span></li>
			<li><a href="cookbook_embedding_cherokee.html">Embedding Cherokee</a><span>Cherokee on embedded devices.</span></li>
			<li><a href="cookbook_maintenance.html">Maintenance</a><span>Seamlessly switching to maintenance mode.</span></li>
			<li><a href="cookbook_managing_logs.html">Managing logs</a><span>Seamless log rotation.</span></li>
			<li><a href="cookbook_optimizations.html">Optimizing Cherokee</a><span>Recommendations and tweaks.</span></li>
			<li><a href="cookbook_redirs.html">Redirections</a><span>Common redirection examples.</span></li>
			<li><a href="cookbook_ssl.html">SSL/TLS, certs</a><span>Secure connection tips.</span></li>
			<li><a href="cookbook_https_accelerator.html">HTTPS accelerator</a><span>SSL Offloading with Cherokee.</span></li>
			<li><a href="cookbook_streaming.html">Streaming</a><span>How to stream Audio and Video with Cherokee.</span></li>
			<li><a href="cookbook_php.html">PHP</a><span>How to run PHP apps with Cherokee.</span></li>
			<li><a href="cookbook_ror.html">Ruby on Rails</a><span>How to run Ruby on Rails apps with Cherokee.</span></li>
			<li><a href="cookbook_django.html">Django</a><span>How to run Django apps with Cherokee.</span></li>
			<li><a href="cookbook_coldfusion.html">ColdFusion</a><span>How to run ColdFusion apps with Cherokee.</span></li>
			<li><a href="cookbook_drupal.html">Drupal</a><span>How to run Drupal on Cherokee.</span></li>
			<li><a href="cookbook_wordpress.html">Wordpress</a><span>How to run Wordpress on Cherokee.</span></li>
			<li><a href="cookbook_alfresco.html">Alfresco</a><span>How to run Alfresco on Cherokee.</span></li>
			<li><a href="cookbook_mono.html">ASP.NET</a><span>How to run ASP.NET apps with Mono and Cherokee.</span></li>
			<li><a href="cookbook_glassfish.html">GlassFish</a><span>How to run Java apps with Cherokee.</span></li>
			<li><a href="cookbook_joomla.html">Joomla</a><span>How to run Joomla on Cherokee.</span></li>
			<li><a href="cookbook_kumbia.html">Kumbia</a><span>How to run Kumbia apps with Cherokee.</span></li>
			<li><a href="cookbook_liferay.html">Liferay</a><span>How to run Liferay on Cherokee.</span></li>
			<li><a href="cookbook_mailman.html">Mailman</a><span>How to run Mailman on Cherokee.</span></li>
			<li><a href="cookbook_moodle.html">Moodle</a><span>How to run Moodle on Cherokee.</span></li>
			<li><a href="cookbook_nagios.html">Nagios</a><span>How to run Nagios with Cheroke.</span></li>
			<li><a href="cookbook_phpbb.html">phpBB</a><span>How to run phpBB on Cherokee.</span></li>
			<li><a href="cookbook_phpmyadmin.html">phpMyAdmin</a><span>How to run phpMyAdmin on Cherokee.</span></li>
			<li><a href="cookbook_sugarcrm.html">SugarCRM</a><span>How to run SugarCRM on Cherokee.</span></li>
			<li><a href="cookbook_concrete5.html">Concrete5</a><span>How to run Concrete5 on Cherokee.</span></li>
			<li><a href="cookbook_symfony.html">Symfony</a><span>How to run Symfony apps with Cherokee.</span></li>
			<li><a href="cookbook_trac.html">Trac</a><span>How to run Trac on Cherokee.</span></li>
			<li><a href="cookbook_zend.html">Zend</a><span>How to run Zend apps with Cherokee.</span></li>
			<li><a href="cookbook_uwsgi.html">uWSGI</a><span>Setting up Cherokee for uWSGI.</span></li>
			<li><a href="cookbook_http_to_https.html">HTTP to HTTPS</a><span>How to redirect all traffic from HTTP to HTTPS.</span></li>
			<li><a href="cookbook_traffic_restriction.html">Restricting traffic by IP</a><span>How to restrict traffic based on incoming IP.</span></li>
			<li><a href="cookbook_domain_matching.html">Domain matching</a><span>Matching domains and subdomains with Cherokee.</span></li>
		</ul>
		<div class="section-title"><a href="modules.html">Modules</a><br /><span>Information about the standard modules</span></div>
		<ul class="section-list">
			<li><a href="modules_handlers.html">Handlers</a><span>Connection handling modules.</span></li>
			<li><a href="modules_validators.html">Validators</a><span>Authentication mechanisms.</span></li>
			<li><a href="modules_encoders.html">Encoders</a><span>Compression and filtering.</span></li>
			<li><a href="modules_loggers.html">Loggers</a><span>Logging mechanisms.</span></li>
			<li><a href="modules_balancers.html">Balancers</a><span>Load balancing strategies.</span></li>
		</ul>
		<div class="section-title"><a href="other.html">Other information</a><br /><span>Miscellaneous</span></div>
		<ul class="section-list">
			<li><a href="other_faq.html">FAQ</a><span>List of Frequently Asked Questions.</span></li>
			<li><a href="other_front_line_cache.html">Front-line Cache</a><span>Specifics of the Caching subsystem.</span></li>
			<li><a href="other_os_tuning.html">System Tuning</a><span>Tweaking the OS for maximum performance.</span></li>
			<li><a href="other_goodies.html">Cherokee Goodies</a><span>Interesting Cherokee features.</span></li>
			<li><a href="other_graphs.html">Usage graphs</a><span>Information on the several graphs available.</span></li>
			<li><a href="other_signals.html">Signals</a><span>Signals supported by Cherokee.</span></li>
			<li><a href="other_community.html">Community</a><span>More information sources.</span></li>
			<li><a href="other_errors.html">Common errors</a><span>Some typical production errors and their cause.</span></li>
			<li><a href="other_bundle.html">Man pages</a><span>Details about each program bundled with Cherokee.</span></li>
		</ul>
		<div class="section-title"><a href="dev.html">Development info</a><br /><span>Things of interest to developers</span></div>
		<ul class="section-list">
			<li><a href="dev_quickstart.html">Quickstart</a><span>Where to start?</span></li>
			<li><a href="dev_debug.html">Debugging</a><span>Resources available to debug Cherokee.</span></li>
			<li><a href="dev_cherokee.conf.html">cherokee.conf</a><span>Internal configuration specs.</span></li>
			<li><a href="dev_qa.html">Quality Assurance</a><span>Some info about QA in Cherokee.</span></li>
			<li><a href="dev_ctk.html">CTK</a><span>Dive into the Cherokee Toolkit.</span></li>
		</ul>
		<div class="section-title"><a href="distro.html">Cherokee&#8217;s Distribution</a><br /><span>Web Apps distribution on Cherokee</span></div>
		<ul class="section-list">
			<li><a href="distro_dev_intro.html">Introduction to Development</a><span>How to build a package.</span></li>
		</ul>
	</div>
	
{{content}}

</div>
